In [14]:
str1 = " ciao come va tutto bene ?"
str2 = " si va tutto bene ma mi sono fale "
str3 = str1 + str2
str(str1[1:10:2])

'ca oe'

In [27]:
i = "ciao"
print ('f"ciao, {i}')

f"ciao, {i}

In [40]:
my_list = [ 1, 2,3,4,5,"phyton", "ciao"]
my_list[3]
my_list.append(4)
my_list
my_list.remove(4)
my_list
my_list.pop(3)
my_list

[1, 2, 3, 'phyton', 'ciao', 4]

In [42]:
my_tuple = [ 1,2,3,4,5, "ciao", "tavolo"]
my_tuple[3]

4

In [44]:
my_tuple.apped(1)

AttributeError: 'list' object has no attribute 'apped'

In [60]:
my_dict = {"nome": "Alessio", "cognome":"Capobianco", "Age":23}

In [62]:
my_dict["nome"]

'Alessio'

In [58]:
my_dict=({"ciao":2})

In [61]:
my_dict["citta"] = 2

In [63]:
my_dict

{'nome': 'Alessio', 'cognome': 'Capobianco', 'Age': 23, 'citta': 2}

In [64]:
my_dict["esame"]="italianno"

In [65]:
my_dict

{'nome': 'Alessio',
 'cognome': 'Capobianco',
 'Age': 23,
 'citta': 2,
 'esame': 'italianno'}

In [66]:
my_dict["esame"]

'italianno'

In [73]:
my_set = {1,2,3,4,5,6,7}
my_set.add(8)
my_set
my_set.add(4)
my_set
my_set.remove(1)
my_set

{2, 3, 4, 5, 6, 7, 8}

In [97]:
def calcolatrice ():
    num1 = float(input("insert a first number"))
    opertatore = str(input("insert a command"))
    num2 = float(input("insert a second number"))
    if opertatore == "+":
        risultato = num1 + num2
    elif opertatore == "-":
        risultato = num1 - num2 
    elif opertatore == "/":
        risultato = num1 / num2
    print(f"il risultato e' {risultato}")

In [98]:
calcolatrice ()

insert a first number 1
insert a command -
insert a second number 1

il risultato e' 0.0