In [15]:
if 10>50:
    print("Ten is greater then five")
else:
    print("Today is a sunny day")

print ("today is a good day")

Today is a sunny day
today is a good day

In [65]:
def sum (a,b):
    result = a+b # you cannot use number + letter , they both have to be the same 
    return result # we return the result variable 
    """ prova di fare un dockstring per vedere se funzioa, si funziona """

In [66]:
sum (10,25)

250

In [49]:
sum ("mike", "eliza")

'mikeeliza'

In [51]:
sum ("mike","Ciao")

'mikeCiao'

In [72]:
age = 30 
age2 = 2
Age = 3

In [70]:
age

30

In [73]:
Age

3

In [79]:
building1 = "Church"

In [84]:
building1_name = "Church name" #snacke syntacs
building1Name = "church name " #camel syntacs
building1_hight = 100
building2_name = "Stadium Name"
building2_hight = 200
building3_name = "Igloo"
building3_hight = 400

In [78]:
building1

'Church'

In [80]:
building1_name

'Church name'

In [83]:
building1_hight

100

In [88]:
print ( building3_hight) 
building3_hight

400

400

In [98]:
age = 40.5 # is a float , because it has the decimal

In [90]:
student_name = "Maria"

In [92]:
maria = 10 
student = maria 
student

10

In [93]:
maria 
maria 
maria

10

In [94]:
print (maria)
print (maria)

10
10

In [95]:
type ( student_name)

str

In [97]:
type (maria)

int

In [100]:
type(age)

float

In [104]:
alessio = False  #True and False must be in capital letter

In [103]:
type(alessio)

bool

type(3>5)

In [107]:
d = str(alessio)

In [116]:
type (d)

str

In [117]:
d

'False'

In [118]:
s = "20"

In [119]:
s+s

'2020'

In [123]:
int(s)+int(s)

40

In [124]:
a = 10 
b = True 
c = "Julie"
d = 3.5

In [125]:
data1 = 1
value2 = 2
this_is_a_string = 3 
number_of_students_123 = 4

In [126]:
type(a)

int

In [128]:
float(a)

10.0

In [129]:
int(d)

3

In [130]:
str(d)

'3.5'

In [131]:
float(c)

ValueError: could not convert string to float: 'Julie'

In [134]:
max_distance = 3
temperature = 4.5
greet_int = "ciao"
is_raining = False 
value_1 
total_amount 
calc_num
data_entry
a = 42
float(a)

NameError: name 'value_1' is not defined

In [ ]:
max_distance = 3
temperature = 4.5
greet_int = "ciao"
is_raining = False 
value_1 =0
total_amount =0
calc_num = 0
data_entry = 1
a = 42
float(a)
b=3.14159
int(b)
c = 99.99
c1 = "99.99"
str(c)
float(c1)

In [3]:
type(max_distance)

NameError: name 'max_distance' is not defined