In [13]:

try:
    name = ciao
except NameError as e :
 print(f"the following is the error {e}")

the following is the error name 'ciao' is not defined

In [43]:
a = "Ciao "
b = 0
concatenate_string = a + b
print (concatenate_string)

TypeError: can only concatenate str (not "int") to str

In [44]:
def concatenate_strings (a,b):
    return a + b
    print: ("return")

print (concatenate_strings(a,b))

TypeError: can only concatenate str (not "int") to str

In [58]:
try: 
    concatenate_string = a + b 
except TypeError as e:
    print(f"you cannot concatenate a integrer and a string as: {e}")

you cannot concatenate a integrer and a string as: can only concatenate str (not "int") to str

In [72]:
list = [1,2,3,4,5,6,7]
print (list [10])

try: 
    list = [1,2,3,4,5,6,7]
except IndexError as e:
    print (f"you cannot print a character that is not present in the list as the list is not long enought , based on {e}")

IndexError: list index out of range

In [74]:
try: 
    list [10]
except IndexError as e:
    print (f"you cannot print a character that is not present in the list as the list is not long enought , based on {e}")

you cannot print a character that is not present in the list as the list is not long enought , based on list index out of range

In [75]:
2 / 0

ZeroDivisionError: division by zero

In [81]:
try: 
    2 / 0
except Exception as e : 
    print (f"Be aware that here there is an error, which is the following : {e}")

Be aware that here there is an error, which is the following : division by zero

In [151]:
def calcolatrice ():
    num1 = float(input("inserisci il primo numero"))
    operatore = str(input("inserisci l'operatore"))
    num2 = float (input("inserisci il secondo numero"))
    if operatore == "+":
        risultato = num1 + num2
    elif operatore == "-":
        risultato = num1 - num2
    elif operatore == "/":
        risultato = num1 / num2
    elif operatore == "%" :
        risultato = num1 % num2 

    print(f"risultato: {risultato}")

In [129]:
c = input("Please enter your name to start: "),
print("Welcome " + (c) + " to the calculation")

Please enter your name to start:  w

TypeError: can only concatenate str (not "tuple") to str

In [123]:

print("START")
c = input("Please enter your name to start: ")
print("Welcome " + c + " to the calculation")
print("END")

START amrco
Please enter your name to start:  marco
Welcome marco to the calculation marco
END marco

'marco '

In [156]:
def calcolatrice ():
    num1 = float(input("inserisci il primo numero"))
    operatore = str(input("inserisci l'operatore"))
    num2 = float (input("inserisci il secondo numero"))
    if operatore == "+":
        risultato = num1 + num2
    elif operatore == "-":
        risultato = num1 - num2
    elif operatore == "/":
        risultato = num1 / num2
    elif operatore == "%" :
        risultato = num1 % num2 

    print(f"risultato: {risultato}")
calcolatrice ()

inserisci il primo numero 1
inserisci l'operatore -
inserisci il secondo numero 2
risultato: -1.0

In [166]:
f = "ciao"
c = "come va"
f += f
f == c
f

'ciaociao'

In [175]:
h = "ciao"
c = "come va"
h == c
print(h)

ciao k

'k'

In [5]:
h = "ciao"
n = "come va"
print(h == n)
print(bool(n))

False
True

In [10]:

a = 1 
b = 2 
c = 3 
d = 4 
e = 5 
f = 6 

a>b or b<c and f>c and e >d

True