# Lists

In [9]:
def insert_at(l, position, e):
    return l[:position] + [e] + l[position:] # e should be a number but if i type it in to the [] brackets then i becomes a list and i can do the sum 

insert_at (my_list1,5,999)

NameError: name 'my_list1' is not defined

In [ ]:
def insert_at(l,position,e):
    left_part = l[:position] # this is a list 
    left_part.append(e) # this is a list 
    right_part = l[position:]
    return left_part + right_part

my_list1 = [1,2,3,4,5,6,7,8,9]
insert_at (my_list1,(5),999) #questa funziona

In [ ]:
my_list2 = [1,2,3,4,5,6,7,8,9]
my_list2.insert(5,999)
print (my_list2)

In [ ]:
my_list = [1,2,3,"phyton", 4,5]
print(my_list)
my_list[3] #it prints the value on the posto 3 
print("list sample", my_list)
my_list.append("alessio")
print("list sample", my_list)
my_list[6] = 20 # per sostituire il posto 6 con il 20 
my_list.append(True)
print (my_list)
my_list.remove(my_list[3]) #con questo compando rimuovo il valore nel 3rzo posto 
print(my_list)

In [ ]:
dir(my_list.insert)

In [10]:
def subtraction(a,b):
    return a -b
subtraction(10,3)

7

# Tuples

In [11]:
my_tuple = ("Apple", "banana", "cherry")
print ( my_tuple)
type (my_tuple)
my_tuple[0]

('Apple', 'banana', 'cherry')

'Apple'

In [12]:
my_tuple[0]

'Apple'

In [13]:
my_tuple.append("kiwi") # it has not append

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
my_tuple[0] = "orange" # i cannot change the object insiede with others, i can do it witht he list.

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_tuple2 = (1,2,3)
my_tuple3 = my_tuple + my_tuple2
print(my_tuple3)

# dictionary

In [ ]:
my_dict = {"name":"alice", "age" : 25, "location": " New York" }
#my_dic[1] # gives error because they are unordered
my_dict ["country"] = "United States"

In [16]:
my_dict["location"]

NameError: name 'my_dict' is not defined

In [ ]:
my_dict["name"]

In [ ]:
my_dict

In [ ]:
my_dict["tuple"]=my_tuple

In [ ]:
my_dict

In [ ]:
print(my_dict["tuple"][1]) # we can also print banana from the touple in the dictonary

# set

In [ ]:
my_set = {1,2,3,4,5,6}
print(my_set)

my_set3 = {1,2,3,4,5,6,6,6,6,7,8,9,90}
print (my_set3)

In [ ]:
my_set3 = {1,2,3,4,5,6,6,6,6,7,8,9,90}
print (my_set3)
my_set3.add(10) # add just a single element 
len(my_set)

#loop